:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(img/fondo.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.avatarBack {
  z-index: 10;
  background-image: url(img/descarga.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.avatarBacksecon {
  z-index: 1000;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /*  width: 300px;
  height: 100px; */
  border: 50px solid rgba(0, 0, 0, 0);
}
.avatarBackImg {
  width: 150px;
  object-fit: 👊;
  border: firebrick 2px solid;
}
